<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>PDF to Text</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/pte.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body>
    <div class="upload-container">
      <h1>Upload PDF</h1>

      <form id="form">
        <input
          type="file"
          id="file_input"
          name="file"
          accept="application/pdf"
          required
        />
        <label for="file_input" class="file_box">
          <img src="/assets/upload.png" alt="upload icon" />
          <p id="upload_text">Upload PDF</p>
        </label>
        <button id="upload_btn" type="submit">Upload</button>
      </form>

      <p class="note">Only PDF files are allowed.</p>

      <section class="extracted_text_section hidden">
        <h2>Extracted Text</h2>
        <p id="extracted_text"></p>
        <button class="copy_btn">Copy Text</button>
      </section>
    </div>

    <script src="/assets/script.js"></script>
  </body>
</html>
